  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" data-btm-anchor="content:bottom">
      <div class="menu-centered">
        <ul class="menu">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Line Up</a></li>
          <li><a href="#">Nosotros</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>